.content {
  padding: 100px 200px;
}

@media screen and (max-width: 930px) {
  .content {
    padding: 80px 160px;
  }
}

@media screen and (max-width: 760px) {
  .content {
    padding: 70px 140px;
  }
}

@media screen and (max-width: 560px) {
  .content {
    padding: 20px 60px;
  }
}

@media screen and (max-width: 440px) {
  .content {
    padding: 30px;
  }
}
