.card-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: linear-gradient(180deg, rgba(251,219,159,1) 0%, rgba(176,138,94,1) 100%, rgba(251,219,159,1) 100%);
  border-radius: 12px;
  width: 1064px;
  margin: 0 auto;
  gap: 20px;
}

.card {
  padding: 16px;
  margin: 8px;
  display: flex;
  padding: 15px;
}

.card:hover {
  transform: translateY(-4px); /* Эффект наведения */
}

/* .card-image {
  width: 100%;
  height: auto;
  border-radius: 6px;
} */

.card-image {
  width: 230px;
  height: 260px;
  background-color: #171826;
  margin-right: 20px;
  border-radius: 6px;
}

.card-content {
  display: flex;
  flex-direction: column;
}


.card-title {
  font-size: 16px;
  font-weight: 600;
  margin: 8px 0;
}

.card-description {
  font-size: 12px;
  color: #171826;
  line-height: 140%;
  font-weight: 400;
}

.card-date {
  margin-top: 8px;
  font-size: 10px;
  color: #171826;
  line-height: 140%;
}

.dec {
  /* color: #17182670; */
  color: red;
  width: 2px;
  height: 100%;
}