.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  margin-right: 3.5rem;
}

.menu-buttons {
  display: flex;
  gap: 15px;
}

.menu-button {
  background: #171826;
  border: 1px solid #472f2b;
  padding: 8px 80px;
  border-radius: 6px;
  color: #fbdb9f;
  font-weight: 400;
  font-size: 13px;
  cursor: pointer;
}
