.container-cards {
  padding: 60px 200px;
  margin-bottom: 40px;
}

@media screen and (max-width: 930px) {
  .container-cards {
    padding: 50px 160px;
  }
}

@media screen and (max-width: 760px) {
  .container-cards {
    padding: 60px 120px;
  }
}

@media screen and (max-width: 570px) {
  .container-cards {
    padding: 60px;
  }
}

@media screen and (max-width: 440px) {
  .container-cards {
    padding: 60px 30px;
  }
}
