.news {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  margin-bottom: 20px;
  border: 1px solid #b08a5e;
  border-radius: 12px;
  background: linear-gradient(
    180deg,
    rgba(251, 219, 159, 1) 0%,
    rgba(176, 138, 94, 1) 100%,
    rgba(251, 219, 159, 1) 100%
  );
  position: relative;
}

.image {
  position: absolute;
  bottom: 0;
  left: -2%;
  height: auto;
  z-index: 10;
  width: 320px;
}

.title {
  font-size: 32px;
  font-weight: bold;
  margin: 8px 0;
  line-height: 90%;
  color: #171826;
  position: relative;
  margin-left: 13rem;
}

.description {
  font-size: 13px;
  color: #171826;
  position: relative;
  margin-left: 13rem;
}

@media screen and (max-width: 930px) {
  .news {
    align-items: center;
    padding: 13px;
  }
  .image {
    display: none;
  }
  .title {
    font-size: 26px;
    margin: 10px auto;
  }
  .description {
    margin-left: 1rem;
  }
}

@media screen and (max-width: 760px) {
  .news {
    padding: 10px;
  }
  .title {
    font-size: 23px;
    margin: 8px auto;
  }
}
